.productcomp {
  border: 1px solid red;
  display: flex;
}
.filtercomp {
  flex: 1;
}
.productlist {
  flex: 4;
  border: 1px solid teal;
}

@media all and (min-width: 728px) and (max-width: 1250px) {
  .filtercomp {
    flex: 2;
  }
}

@media all and (min-width: 338px) and (max-width: 728px) {
  .filtercomp {
    display: none;
  }
}
