.productcomp {
  display: flex;
  background-color: #f1f3f6;
  padding: 10px;
  gap: 10px;
}
.filtercomp {
  flex: 1;
  background-color: #fff;
}
.productlist {
  flex: 4;
  background-color: #fff;
}

@media all and (min-width: 728px) and (max-width: 1250px) {
  .filtercomp {
    flex: 2;
  }
}

@media all and (min-width: 338px) and (max-width: 728px) {
  .filtercomp {
    display: none;
  }
}
